<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PlatformGameCreator.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <PlatformGameCreator.Editor.Properties.Settings>
            <setting name="TextureEditor_ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextureEditor_ShowAllShapes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextureEditor_ShowConvexHull" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextureEditor_ShowConvexDecomposition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextureEditor_ShowOrigin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorApplication_LastOpenedProject" serializeAs="String">
                <value />
            </setting>
            <setting name="SceneEditor_ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SceneEditor_ShowShapes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SceneEditor_GridGapSize" serializeAs="String">
                <value>40</value>
            </setting>
        </PlatformGameCreator.Editor.Properties.Settings>
    </userSettings>
</configuration>
